@CHARSET "UTF-8";

.clear {
	clear: both;
}

body {
	width: 1024px;
	margin: 0 auto;
	padding: 0px;
}

.navigation {
	text-align: center;
	border-bottom: 1px solid #F7819F;
}

.navigation .navigationItem {
	float: left;
	margin-right: 1px;
}

.navigationItem a {
	color: #F7819F;
	display: inline-block;
	padding: 3px 5px;
	text-decoration: none;
}
.navigation .navigationItem a{width: 200px;}
.left-bar ul{margin:0px;padding:0px;}
.left-bar .navigationItem{list-style:none;}
.left-bar .navigationItem a{width: 100px;}
.navigationItem a:hover, .navigationItem a.active {
	background: #F7819F;
	color: #FFF;
}

.flexslider {
	width: 900px !important;
	max-height: 400px;
}

.flex-prev,.flex-next {
	display: none !important;
}
.left-bar{float:left;width:120px;margin-right:20px;}
.right-content{float:left;width:780px;}
.packContainer{display:none;}
#footer {
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #888;
}
.packContainer .title{font-weight:bold;margin:15px 0px;}
img.contentImg{width:950px; padding:10px; border:1px solid #888;}
#tumbnails a:hover img{cursor:pointer;width:120px;}